.topnav {
    background-color : black;
    overflow: hidden;
  }

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-right: 1px solid blue;
}

.topnav a:hover {
    background-color: white;
    color: black;
}

.topnav a.active {
    background-color :darkcyan;
    color: white;
}

h1 {
    color : white;
    font-size: 50px;
    text-align : center;
    font-family: "Copperplate", fantasy;
    -webkit-text-stroke: 1px black
}

body {
    background-color: slategray;
    text-align : center;
}

.youtubelinkbutton {
    height: 25px;
    position: relative;
  }
  
.youtubelinkcenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.setlistlinkbutton {
    height: 25px;
    position: relative;
}
  
.setlistlinkcenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}